@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand-blue: #0047d1;
  --color-brand-blue-light: #005ff8;
  --color-brand-yellow: #facc15;
  --color-brand-yellow-dark: #eab308;

  --font-sans: system-ui, "Segoe UI", Roboto, sans-serif;
}

html {
  color-scheme: light dark;
  scroll-behavior: smooth;
}

html.dark {
  color-scheme: dark;
}

body {
  @apply font-sans bg-white text-slate-900 dark:bg-slate-900 dark:text-slate-100;
}
